<div class="container-fluid bg-dark text-white py-5 shadow-lg">
  <div class="container">
    <div class="description col-md-6 ">
      <h1>Welcome to TwinIm</h1>
      <p>Set your travel plans into motion. Book by <strong>4 Dec 2024</strong> for stays until the end of 2025.</p>
    </div>
  </div>
  <div class="container row m-auto form-search-bar">
    <div class="col-12">
      <form class="d-flex align-items-center justify-content-center ">
        <div class="input-group shadow">
          <input
            type="text"
            class="form-control"
            placeholder="Where are you going?"
            aria-label="Where are you going?"
          />
          <input
            type="date"
            class="form-control"
            placeholder="Check-in date — Check-out date"
            aria-label="Check-in and Check-out dates"
          />
          <select class="form-select">
            <option selected></option>
          </select>
          <button class="btn btn-primary search-btn">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
