.bg-dark {
  background-color: #0d1b2a !important;
}

.text-warning {
  font-weight: bold;
}

.input-group input,
.input-group select {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: #0056b3;
  border: none;
}

.btn-primary:hover {
  background-color: #004085;
}


.form-search-bar {
  position: relative;
  top: 75px;
}

.input-group input {
  height: 60px;
}





