<div class="all-announcement container d-flex flex-wrap">
  <div class="filter-container shadow">
    <h4>Filter By :</h4>

    <div class="mb-3">
      <label for="searchQuery" class="form-label">Search</label>
      <input
        type="text"
        id="searchQuery"
        [(ngModel)]="searchQuery"
        placeholder="What are you looking for?"
        class="form-control"
      />
    </div>

    <div class="mb-3 form-check">
      <input
        type="checkbox"
        id="available"
        [(ngModel)]="isAvailable"
        class="form-check-input"
      />
      <label for="available" class="form-check-label">Available</label>
    </div>

    <div class="d-flex gap-2">
      <button (click)="search()" class="btn btn-primary">Search</button>
      <button (click)="resetSearch()" class="btn btn-secondary">Reset</button>
    </div>
    <hr />
  </div>

  <div class="list-announcement w-100">
    <h3 >--</h3>
    <div class="mb-3">
      <h3> <b>{{ nbRooms }}</b> properties found</h3>
      <select #order (change)="sortByPrice(order.value)" class="form-select w-auto">
        <option value="" disabled selected>Sort By Price</option>
        <option value="asc">Price: Low to High</option>
        <option value="desc">Price: High to Low</option>
      </select>
    </div>

    <app-card-announcement
      *ngFor="let a of list"
      [announcement]="a"
      class="mb-3"
    >
    </app-card-announcement>
  </div>
</div>
