.all-announcement {
  margin : 140px auto ;
}

.filter-container {
  flex-basis: 20%;
  margin: 40px;
  height: 300px;
  padding: 12px;
  border-radius: 12px;
}

.list-announcement {
  flex-basis: 70%;
}


.sort {
  border-radius: 25px;
  padding: 5px;
  margin: 12px;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .filter-container {
    flex-basis: 100%;
  }

  .list-announcement {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .filter-container {
    flex-basis: 100%;
  }

  .list-announcement {
    flex-basis: 100%;
  }
}
