<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section class="product" *ngIf="announcement">
    <div class="product__photo">
        <div class="photo-container">
            <div class="photo-main">
                <div class="controls">
                    <!-- Share Icon -->
                    <i class="material-icons">share</i>
    
                    <!-- Favorite Heart Icon -->
                    <i class="material-icons" (click)="toggleLike()">
                        {{ announcement.isLiked ? 'favorite' : 'favorite_border' }}
                    </i>
                </div>
                
                <!-- New Div for the Image -->
                <div class="image-container">
                    <img [src]="announcement.picture" alt="{{announcement.title}}">
                </div>
            </div>
        </div>
    </div>

    <div class="product__info">
        <div class="title">
            <h1>{{ announcement.title }}</h1>
            <span>Address: {{ announcement.address }}</span>
            <span>Category: {{ announcement.category }}</span>
            <span>Published on: {{ announcement.datePublication }}</span>
        </div>

        <div class="price">
            dt <span>{{ announcement.price }}</span>
        </div>

        <div class="variant">
            <h3>SELECT A COLOR</h3>
            <ul>
                <li><img [src]="announcement.picture" alt="variant1"></li>
            </ul>
        </div>

        <div class="description">
            <h3>DESCRIPTION</h3>
            <ul>
                <li>{{ announcement.description }}</li>
                <li>Surface: {{ announcement.surface }} m²</li>
                <li>Status: {{ announcement.status }}</li>
            </ul>
        </div>

         <!-- Delete button -->
         <button class="delete-button" (click)="deleteAnnouncement()">
            Delete
          </button>
    </div>
</section>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
