<div class="announcement-details">
  <div class="top-img">
    <img [src]="announcement.picture" alt="Announcement Image">
  </div>
  <div class="content">
    <div class="title-section">
      <h5>{{ announcement.title }}</h5>
    </div>
    <p>
      <a href="#">{{ announcement.category }}</a>
      <a href="#">{{ announcement.address }}</a>
    </p>
    <p>{{announcement.description}}</p>
    <small><strong>Date: </strong>{{announcement.datePublication}}</small>
    <small><strong>Surface: </strong>{{announcement.surface| pipesurface}} </small>
    <div class="room-details">
      <p *ngIf="announcement.roomsNumber">
        <strong>Rooms:</strong> {{ announcement.roomsNumber }}
      </p>
    </div>
    <p [ngClass]="{ 'text-success text-bold': announcement.status === 'disponible', 'text-white text-bg-danger': announcement.status !== 'disponible' }"  >{{announcement.status}}</p>
    <div class="pricing">
      <div>
        <h5>{{ announcement.price | pipeprice }}</h5>
      </div>
      <button class="details-button">See Details</button>
    </div>
  </div>
</div>
