<footer style="background-color: #f8f9fa; padding: 20px; text-align: center;">
  <h4>Project Contributors</h4>
  <div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">
    <!-- Project Leader -->
    <div style="text-align: center;">
      <a href="www.linkedin.com/in/badiabouhdid" target="_blank" style="text-decoration: none;">
        <img src="assets/images/teacher.png" alt="Project Leader" class="profile-img-leader">
        <p class="profile-name-leader">Instructor</p>
      </a>
    </div>
    <!-- Contributor 1 -->
    <div style="text-align: center;">
      <a href="https://github.com/MedEzzedineBenZbiba" target="_blank" style="text-decoration: none;">
        <img src="assets/images/contributor1.jpg" alt="Contributor 1" class="profile-img">
        <p class="profile-name">MedEzzedine Ben Zbiba</p>
      </a>
    </div>

    <!-- Contributor 2 -->
    <div style="text-align: center;">
      <a href="https://github.com/louayabidi" target="_blank" style="text-decoration: none;">
        <img src="assets/images/contributor2.jpg" alt="Contributor 2" class="profile-img">
        <p class="profile-name">Louay Abidi</p>
      </a>
    </div>
    <!-- Contributor 3 -->
    <div style="text-align: center;">
      <a href="https://github.com/Youssef-BS" target="_blank" style="text-decoration: none;">
        <img src="assets/images/contributor4.jpg" alt="Contributor 2" class="profile-img">
        <p class="profile-name">Youssef Ben Said</p>
      </a>
    </div>
    <!-- Contributor 4 -->
    <div style="text-align: center;">
      <a href="https://github.com/Tahermabrouk1" target="_blank" style="text-decoration: none;">
        <img src="assets/images/contributor3.png" alt="Contributor 2" class="profile-img">
        <p class="profile-name">Taher Mabrouk</p>
      </a>
    </div>
  <p>.......</p>

  </div>
</footer>
