<div class="card">
  <a [routerLink]="['/announcement/details', announcement.id]">
    <img [src]="announcement.picture" alt="image" class="card-image">
    <div class="card-body">
      <h2 class="card-title">{{ announcement.title }}</h2>
      <p class="card-category">{{ announcement.category }} - {{ announcement.address }}</p>
      <p class="card-description">{{ announcement.description }}</p>
      <div class="card-details">
        <div class="card-price">{{ announcement.price | pipeprice }}</div>
        <div class="card-status" [ngClass]="{ 'available': announcement.status === 'disponible', 'sold': announcement.status === 'vendu' }">
          {{ announcement.status }}
        </div>
      </div>
      <div class="card-footer">
        <span>Rooms:////// {{ announcement.roomsNumber }}</span>
        <span>Date: {{ announcement.datePublication }}</span>
        <span>Surface: {{ announcement.surface | pipesurface }}</span>
        <div class="like-button" (click)="onLikeClick(); $event.stopPropagation()" [ngClass]="{ 'liked': announcement.isLiked }">
          <i class="fa fa-heart"></i>
          <span>{{ announcement.nbrLike }}</span>
        </div>
      </div>
    </div>
  </a>
</div>
